.vivan{
    color: blue;
}
.vivan_{
    color: red;
}
.saransh{
    color: blueviolet;
}
#saransh5{
    color: blue;
}
#saransh4{
    color: brown;
}
#saransh3{
    color: blueviolet;
}
#saransh2{
    color: crimson;
}
#saransh1{
    color: chocolate;
}
#saransh{
    color: darkgoldenrod;
}